.bullet__container {
  display : flex;
  overflow: auto;

}

.bullet__item,
.bullet__item--image {
  width    : 80px;
  min-width: 80px;
}

.bullet__container::-webkit-scrollbar {
  height: 4px;
}

.bullet__container::-webkit-scrollbar-track,
.bullet__container::-webkit-scrollbar-thumb {
  background-clip : padding-box;
  background-color: #ebedee;
  border-right    : 16 px solid transparent;
  border-left    : 16 px solid transparent;
}

.bullet__container::-webkit-scrollbar-thumb {
  background-color: black;
}

.bullet__item {
  margin-right: 15px;
}

.bullet__item--link {
  text-decoration: none;

}

.bullet__item--title {
  color      : black;
  font-size  : 14px;
  font-family: Helvetica, sans-serif;
}


@media screen and (min-width:760px) {

  .bullet__item,
  .bullet__item--image {
    width    : 100px;
    min-width: 80px;
  }

}
